<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljj.mapper.UserMapper">
    <select id="find"  resultType="com.ljj.dto.User">
        select id,username,password from user WHERE username = #{username} and password = #{password}
    </select>

    <!--<update id="plus">-->
        <!--update Access set count = count+1 WHERE  api_name = "add"-->
    <!--</update>-->


    <!--<insert id="insert" parameterType="com.hand.entity.Access">-->
        <!--INSERT INTO Access (api_name)values(#{apiName})-->
    <!--</insert>-->
</mapper>
